body{
	margin: 0;
	padding: 0;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container{
	max-width: 390px;
	margin: 0 auto;
}

.inner{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img{
	width: 150px;
}

.item{
	text-align: center;
}

.btn{
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(107, 96, 96);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.usercard{
	text-align: center;
}

